<div class="dropdown arrow arrow--top-right | relative">
  <div class="dropdown__main | divide-y divide-grey-200 rounded-lg bg-white py-1 shadow-float">
    <a class="group flex w-full cursor-pointer items-center gap-2 px-8 py-4 transition-colors hover:text-green-500">
      <span>Ga naar profiel</span>
      {% inlineSvg "arrow-right" "aspect-square w-3.5 -rotate-45 transition-transform group-hover:rotate-0" -%}
    </a>
    <a href="index.html" class="flex w-full items-center gap-2 px-8 py-4 transition-colors hover:text-red-500">
      {% inlineSvg "exit" "aspect-square w-3.5" -%}
      <span>Uitloggen</span>
    </a>
  </div>
</div>
