<div class="flex gap-4">
  <div class="grid gap-2 text-center">
    <div class="w-20 aspect-square rounded bg-green-500"></div>
    <span class="ld-label">Green 500</span>
  </div>

  <div class="grid gap-2 text-center">
    <div class="w-20 aspect-square rounded bg-blue-500"></div>
    <span class="ld-label">Blue 500</span>
  </div>

  <div class="grid gap-2 text-center">
    <div class="w-20 aspect-square rounded bg-yellow-500"></div>
    <span class="ld-label">Yellow 500</span>
  </div>

  <div class="grid gap-2 text-center">
    <div class="w-20 aspect-square rounded bg-orange-500"></div>
    <span class="ld-label">Orange 500</span>
  </div>

  <div class="grid gap-2 text-center">
    <div class="w-20 aspect-square rounded bg-red-500"></div>
    <span class="ld-label">Red 500</span>
  </div>

  <div class="grid gap-2 text-center">
    <div class="w-20 aspect-square rounded bg-pink-500"></div>
    <span class="ld-label">Pink 500</span>
  </div>

  <div class="grid gap-2 text-center">
    <div class="w-20 aspect-square rounded bg-grey-700"></div>
    <span class="ld-label">Grey 700</span>
  </div>
</div>
