<div class="space-y-6">
  <div class="input--select">
    <label for="select-default" class="input__label">
      Select default</label>
    <div class="input-field">
      <select name="select-default" id="select-default">
        <option value="">option 1</option>
        <option value="">option 2</option>
        <option value="">option 3</option>
        <option value="">option 4</option>
        <option value="">option 5</option>
      </select>
    </div>
  </div>
  <div class="input--select">
    <label for="select-default-success" class="input__label">
      Select default success</label>
    <div class="input-field" data-validation="success">
      <select name="select-default-success" id="select-default-success">
        <option value="">option 1</option>
        <option value="">option 2</option>
        <option value="">option 3</option>
        <option value="">option 4</option>
        <option value="">option 5</option>
      </select>
    </div>
  </div>
  <div class="input--select">
    <label for="select-default-error" class="input__label">
      Select default error</label>
    <div class="input-field" data-validation="error">
      <select name="select-default-error" id="select-default-error">
        <option value="">option 1</option>
        <option value="">option 2</option>
        <option value="">option 3</option>
        <option value="">option 4</option>
        <option value="">option 5</option>
      </select>
    </div>
  </div>
  <div class="input--select">
    <label for="select-default" class="input__label">
      Select disabled</label>
    <div class="input-field">
      <select
        name="select-default"
        id="select-default"
        disabled="disabled">
        <option value="">option 1</option>
        <option value="">option 2</option>
        <option value="">option 3</option>
        <option value="">option 4</option>
        <option value="">option 5</option>
      </select>
    </div>
  </div>
</div>
