<ol class="list--legenda">
  <li class="legenda-blue--10">Mauritania</li>
  <li class="legenda-blue--20">Brunei</li>
  <li class="legenda-blue--30">Peru</li>
  <li class="legenda-blue--40">Croatia</li>
  <li class="legenda-blue--50">St. Kitts & Nevis</li>
  <li class="legenda-blue--60">Tanzania</li>
  <li class="legenda-blue--70">Gambia</li>
  <li class="legenda-blue--80">Fiji</li>
  <li class="legenda-blue--90">Argentina</li>
  <li class="legenda-blue--100">Tuvalu</li>
</ol>
