<ol class="list--legenda">
  <li class="legenda--10">meer dan 25</li>
  <li class="legenda--20">21 t/m 25</li>
  <li class="legenda--30">16 t/m 20</li>
  <li class="legenda--40">11 t/m 15</li>
  <li class="legenda--50">6 t/m 10</li>
  <li class="legenda--60">0 t/m 5</li>
  <li class="legenda--70">-4 t/m 0</li>
  <li class="legenda--80">-9 t/m -5</li>
  <li class="legenda--90">-14 t/m -10</li>
  <li class="legenda--100">-19 t/m -15</li>
  <li class="legenda--110">-25 t/m -20</li>
  <li class="legenda--120">minder dan -25</li>
</ol>
