<ol class="list--legenda">
  <li class="legenda-risk--10">A</li>
  <li class="legenda-risk--20">B</li>
  <li class="legenda-risk--30">C</li>
  <li class="legenda-risk--40">D</li>
  <li class="legenda-risk--50">E</li>
</ol>
