<dl role="list" class="list--definition">
  <div class="item">
    <dt>Adres</dt>
    <dd>
      Willemsplein 492<br/>
      3016 DR Rotterdam
    </dd>
  </div>
  <div class="item">
    <dt>Oppervlakte</dt>
    <dd>1.000 m²</dd>
  </div>
  <div class="item">
    <dt>Gebruik</dt>
    <dd>Wonen</dd>
  </div>
  <div class="item">
    <dt>Bestemming</dt>
    <dd>Wonen</dd>
  </div>
  <div class="item">
    <dt>Waarde</dt>
    <dd>€ 1.000.000</dd>
  </div>
</dl>
