<div class="cards">
  <div class="card | grid space-y-6 p-8">
    <header class="card__header">
      <h3 class="heading-3">First card</h3>
    </header>
    <div class="card__content">
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quisquam mollitia quas corporis iure nostrum totam dolorem maxime! Iste, consequatur distinctio! Sit, molestiae unde! Dicta provident eos nisi quas ducimus saepe!
      </p>
    </div>
    <footer class="card__footer">
      <a href="javascript: console.log('clicked link');" class="button button--solid">Call to action</a>
    </footer>
  </div>
  <div class="card | grid space-y-6 p-8">
    <header class="card__header">
      <h3 class="heading-3">Second card</h3>
    </header>
    <div class="card__content">
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quisquam mollitia quas corporis iure nostrum totam dolorem maxime! Iste, consequatur distinctio! Sit, molestiae unde! Dicta provident eos nisi quas ducimus saepe!
      </p>
    </div>
    <footer class="card__footer">
      <a href="javascript: console.log('clicked link');" class="button button--solid">Call to action</a>
    </footer>
  </div>
</div>
