<div class="cards">
  <div class="card">
    <div class="card__image | relative">
      <img
        class="aspect-video object-cover w-full"
        src="https://i.lemone.space/image/lemone?width=800&height=400"
        alt="Random image from the Lemone server">
    </div>
    <div class="grid space-y-6 p-8">
      <div class="card__content content">
        <h5>Kopje</h5>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quisquam mollitia quas corporis iure nostrum totam dolorem maxime! Iste, consequatur distinctio! Sit, molestiae unde! Dicta provident eos nisi quas ducimus saepe!
        </p>
      </div>
      <footer class="card__footer">
        <a href="javascript: console.log('clicked link');" class="button button--solid">Call to action</a>
      </footer>
    </div>
  </div>
</div>
