<div class="flex gap-4">
  <div>
    {% inlineSvg "achter" "accent-color-blue aspect-square w-16" false "facade" -%}
  </div>
  <div>
    {% inlineSvg "inpandig" "accent-color-green aspect-square w-16" false "facade" -%}
  </div>
  <div>
    {% inlineSvg "links" "aspect-square w-16" false "facade" -%}
  </div>
  <div>
    {% inlineSvg "rechts" "accent-color-green aspect-square w-16" false "facade" -%}
  </div>
  <div>
    {% inlineSvg "voor" "accent-color-green aspect-square w-16" false "facade" -%}
  </div>
</div>
