<div class="flex gap-4 w-">
  <div>
    {% inlineSvg "betonnen-palen" "accent-color-blue aspect-square w-16" false "foundation" -%}
  </div>
  <div>
    {% inlineSvg "houten-palen-oplanger" "accent-color-green aspect-square w-16" false "foundation" -%}
  </div>
  <div>
    {% inlineSvg "houten-palen" "aspect-square w-16" false "foundation" -%}
  </div>
  <div>
    {% inlineSvg "niet-onderheid" "aspect-square w-16" false "foundation" -%}
  </div>
</div>
