<div class="flex gap-4">
  <div>
    {% inlineSvg "file-report" "accent-color-blue aspect-square w-10" false "fundermaps" -%}
  </div>
  <div>
    {% inlineSvg "graph" "accent-color-green aspect-square w-10" false "fundermaps" -%}
  </div>
  <div>
    {% inlineSvg "tools" "accent-color-blue aspect-square w-10" false "fundermaps" -%}
  </div>
  <div>
    {% inlineSvg "foundation" "accent-color-green aspect-square w-10" false "fundermaps" -%}
  </div>
</div>
