<div class="flex gap-4">
  <div>
    {% inlineSvg "arrow-left" "text-green-500 aspect-square w-10" -%}
  </div>
  <div>
    {% inlineSvg "graph" "text-red-500 aspect-square w-10" false "fundermaps" -%}
  </div>
  <div>
    {% inlineSvg "bell" "text-yellow-500 aspect-square w-10" -%}
  </div>
  <div>
    {% inlineSvg "foundation" "text-blue-500 aspect-square w-10" false "fundermaps" -%}
  </div>
</div>
