---
title: "Homepage"
meta:
  title: Home page
layout: sidebar
eleventyNavigation:
  key: Home
  order: 00
---

<div class="grid grid-cols-2 gap-10">
  <a href="/design-tokens/" class="ld-card">
    <div class="ld-card__media | aspect-video">
      <img
        src="/lemone-design/icons/section-design-tokens.svg"
        alt=""
        class="">
    </div>
    <div class="ld-card__content">
      <h4 class="ld-group-hover">Design Tokens</h4>
      <p>Tokens are platform-agnostic variables that represent the look and feel of our brand.</p>
    </div>
  </a>
  <a href="/components/" class="ld-card">
    <div class="ld-card__media | aspect-video">
      <img
        src="/lemone-design/icons/section-components.svg"
        alt=""
        class="">
    </div>
    <div class="ld-card__content">
      <h4 class="ld-group-hover">Components</h4>
      <p>Presentational UI components with encapsulated styles for any framework.</p>
    </div>
  </a>
  <a href="/css/" class="ld-card">
    <div class="ld-card__media | aspect-video">
      <img
        src="/lemone-design/icons/section-css.svg"
        alt=""
        class="">
    </div>
    <div class="ld-card__content">
      <h4 class="ld-group-hover">Css Framework</h4>
      <p>Utility-centric framework that gives you the building blocks for any application.</p>
    </div>
  </a>
  <a href="/downloads/" class="ld-card">
    <div class="ld-card__media | aspect-video">
      <img
        src="/lemone-design/icons/section-downloads.svg"
        alt=""
        class="">
    </div>
    <div class="ld-card__content">
      <h4 class="ld-group-hover">Downloads</h4>
      <p>Useful resources, logos, css files, and third-party tools to help your team.</p>
    </div>
  </a>
</div>
