<section class="grid space-y-2">
  <a href="javascript: console.log('clicked block link');" class="link link--outline | group px-4 py-3">
    <div>
      <h6 class="heading-6">
        {{ label }}
      </h6>
      <div class="link">
        <span class="font-semibold">Bekijk grafiek</span>
        {% inlineSvg "arrow-right" "aspect-square h-3.5 -rotate-45 transition-transform group-hover:rotate-0" -%}
      </div>
    </div>
  </a>
  <a href="javascript: console.log('clicked block link');" class="link link--outline | group px-4 py-3">
    <div>
      <h6 class="heading-6">
        {{ label }}
      </h6>
      <div class="link">
        <span class="font-semibold">Bekijk grafiek</span>
        {% inlineSvg "arrow-right" "aspect-square h-3.5 -rotate-45 transition-transform group-hover:rotate-0" -%}
      </div>
    </div>
  </a>
</section>
