<a href="javascript: console.log('clicked outline link');" class="link link--outline | group px-4 py-3">
  {% inlineSvg "file-report" "accent-color-blue aspect-square w-6" false "fundermaps" -%}
  <span>Rapportage</span>
  {% inlineSvg "arrow-right" "ml-auto aspect-square h-3.5 -rotate-45 transition-transform group-hover:rotate-0 group-hover:text-green-500" -%}
</a>
