<a href="javascript: console.log('clicked outline link');" class="link link--outline | group">
  {% inlineSvg "arrow-left" "aspect-square w-3 rotate-45 transition-transform group-hover:rotate-0" -%}
  <strong>Terug naar kaart filter</strong>
</a>
